ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}
a{
    color: #fff;
}
ion-avatar {
    width: auto;
    height: auto;
    img {
        width: 30%;
      }
}